*{
    margin: 0px;
    padding: 0px;
}
nav{
    position: sticky;
    top: 0px;
    background-color: white;
}
.vertical-line{
    border-left:  1px solid #f2f2f2;
    height: 80px;
}
.nav-delivery>h5{
    font-weight: 900;
    margin-top: 10px;
}
.nav-delivery>p{
    font: size 13px; ;
}
#my-nav-search{
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    padding-inline: 10px;
}
#my-nav-search>input{
    border: none;
    width: 40vw;
    height: 40px;
    background-color:transparent;
}
.my-cart-btn{
    border-radius: 10px !important;
    font-weight: 600 !important;
}
#hero-section{
    display: flex;
    justify-content: center;
}
.categories-1{
    display:flex;
    flex-wrap:wrap;
    padding-inline:6.5vw;
    justify-content:space-around;
     
}
.scoll-container{
    width: 85vw;
    margin: auto;
}
.list{
    white-space:nowrap;
    overflow-x: scroll ;
}
::-webkit-scrollbar{
    display: none;
}
.list>img{
    display: inline-block;
    margin: 10px;
}
.category{
    width: 85vw;
    margin: auto;
}
.my-card{
    display: inline-block !important;
    width: 220px;
    box-sizing: border-box;
    border-radius: 15px !important;
    white-space: wrap;
    margin-inline: 10px;
}
.my-card>img{
    display:inline-block;
    margin: auto;
}
.time{
    background-color: #f2f2f2;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
}
.product_weight{
    font-size: 13px;
    color: #666666;
}
.row-3>p{
    margin: 0px;
}
.my-tag{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 50px;
    text-align: center;
    color: white;
    background-color: #528cee;
    font-size: 13px;
    font-weight: 900;

}
#footer_row-2{
    font-size: 13px;
    text-align: justify;
    color: #666666;
    display: flex;
}
#footer_row_2_col1{
    flex: 1;
    padding-inline: 10px;
}
#footer_row_2_col1>h6{
    color: #666666;
}
.some-box{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: white;
    background-color: #213a50;
}
#footer_row_2_col2{
    flex: 1;
}
#footer_row_2_col3{
    flex: 1;
}